/*Prevent mobile nav links from being read to screen readers or being in tabflow*/
/*Steam mobile header hamburger display media query is "@media screen and (max-width: 910px)"*/
@media screen and (min-width: 911px) {
	.responsive_page_menu_ctn.mainmenu {
		display: none;
	}
}

/*I know this is super specific, but I'm overriding something that's kinda specific while trying to glob onto
some styles that steam has already written for something else. */
#global_header .menuitem.supernav.pulldown {
	padding-right: 1.5em;
	background-position: right bottom 0.6em;
}

/*this will probably change*/
*:focus {
	outline: 3px solid #2f8;
}
